.new-logo{
    display: block;
    margin: 1.68rem auto 1.33333333rem;
    width: 2.13333333rem;
    height: 2.34666667rem;
}
.login-input-box{
    margin:  auto;
    width: 70vw;
    .login-input{
        margin-bottom: .6rem;;
        height: 1rem;
        font-size: .3rem;
    }
    .login-btn,.reg-btn{
        width: 100%;
        background-color: rgb(66, 170, 211);
        height: 1rem;
        font-size: .4rem;
        margin-bottom: .3rem;
    }
}